mail ftp
[{"id":"9722d561f7e793ef","type":"tab","label":"Mail","disabled":false,"info":"","env":[]},{"id":"3f44652421c2efd7","type":"inject","z":"9722d561f7e793ef","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":140,"wires":[[]]},{"id":"648d9aad3809989a","type":"function","z":"9722d561f7e793ef","name":"msg.to","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.to = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":580,"wires":[[]]},{"id":"f2dbeb7eb270c96e","type":"e-mail","z":"9722d561f7e793ef","server":"217.26.49.65","port":"587","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":false,"tls":false,"name":"","dname":"serv smtp","x":1080,"y":980,"wires":[]},{"id":"291c148d54e86403","type":"readDP","z":"9722d561f7e793ef","name":"alarm test","topic":"msg.payload","path":"/User Registers/ALARME","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/ALARME","x":360,"y":200,"wires":[[]]},{"id":"4ba53755e5cf26f3","type":"inject","z":"9722d561f7e793ef","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":200,"wires":[["291c148d54e86403"]]},{"id":"0690985601ea1283","type":"function","z":"9722d561f7e793ef","name":"fonction ","func":"if (msg.payload === true) {\n    // Si payload est true, envoie un message avec \"true\"\n    return { payload: true };\n}\nreturn null; // Si payload est false, ne rien envoyer\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[[]]},{"id":"8c5fbd7cbdb0ec83","type":"readDP","z":"9722d561f7e793ef","name":"alarm test","topic":"msg.payload","path":"/User Registers/ALARME","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/ALARME","x":200,"y":260,"wires":[["0690985601ea1283"]]},{"id":"4fd934c133777b59","type":"readDP","z":"9722d561f7e793ef","name":"alarm test","topic":"","path":"/User Registers/ALARME","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/ALARME","x":200,"y":340,"wires":[["e8f8b96a57c93d2d"]]},{"id":"e8f8b96a57c93d2d","type":"function","z":"9722d561f7e793ef","name":"fonction ","func":"if (msg.payload === true) {\n    // Si payload est true, envoie un message avec \"true\"\n    return { payload: true };\n}\nreturn null; // Si payload est false, ne rien envoyer\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[[]]},{"id":"a7cd835d5a258b5b","type":"readDP","z":"9722d561f7e793ef","name":"mail","topic":"","path":"/User Registers/test","cov":false,"subfolder":false,"dpstatus":false,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/test","x":370,"y":400,"wires":[["333389b635cdb532"]]},{"id":"333389b635cdb532","type":"function","z":"9722d561f7e793ef","name":"convert payload en mail to","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.to = msg.payload;\n\n// Si vous avez besoin d'autres propriétés pour l'e-mail,\n// vous pouvez les ajouter ici\nmsg.payload = \"Voici le contenu de l'email\";\n\n// Retourne le message pour le nœud email\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[[]]},{"id":"b71bf06d198559dc","type":"inject","z":"9722d561f7e793ef","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":400,"wires":[["a7cd835d5a258b5b"]]},{"id":"3d75c4d0f0670ad9","type":"readDP","z":"9722d561f7e793ef","name":"loytecalarme","topic":"","path":"/User Registers/ALARME","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/ALARME","x":190,"y":580,"wires":[["31f8f1442bb8fbf4","0207536b0ceb612c"]]},{"id":"31f8f1442bb8fbf4","type":"switch","z":"9722d561f7e793ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":580,"wires":[["6733d2c252f398bf","a45b295895534cfa"],["10d85e042956ccdd"]]},{"id":"a45b295895534cfa","type":"readDP","z":"9722d561f7e793ef","name":"loytecmail","topic":"alarme","path":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","x":580,"y":580,"wires":[["648d9aad3809989a","30133b27a8bfa5b3"]]},{"id":"6733d2c252f398bf","type":"debug","z":"9722d561f7e793ef","name":"sortie switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"0207536b0ceb612c","type":"debug","z":"9722d561f7e793ef","name":"sortie loytecalarme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":520,"wires":[]},{"id":"30133b27a8bfa5b3","type":"debug","z":"9722d561f7e793ef","name":"sortie loytecmail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"756cc02b716a33bb","type":"readDP","z":"9722d561f7e793ef","name":"MAIL EXPEDITEUR","topic":"","path":"/User Registers/copie_clavier_MAIL_EXPEDITEUR","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_MAIL_EXPEDITEUR","x":340,"y":840,"wires":[["76a703fac9b134ca"]]},{"id":"e621a268e40d4ed1","type":"readDP","z":"9722d561f7e793ef","name":"OBJET DU MAIL","topic":"","path":"/User Registers/copie_clavier_OBJET_DU_MAIL","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_OBJET_DU_MAIL","x":350,"y":720,"wires":[["ea6a00e7276df526"]]},{"id":"eb5e0ea96933f05c","type":"function","z":"9722d561f7e793ef","name":"fonction false","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.to = msg.payload;\n\n// Si vous avez besoin d'autres propriétés pour l'e-mail,\n// vous pouvez les ajouter ici\nmsg.payload = \"Il n'y a pas d'alarme\";\n\n// Retourne le message pour le nœud email\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":640,"wires":[[]]},{"id":"10d85e042956ccdd","type":"readDP","z":"9722d561f7e793ef","name":"loytecmail","topic":"alarme","path":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","x":580,"y":640,"wires":[["eb5e0ea96933f05c"]]},{"id":"cb2d5ddb0136167c","type":"readDP","z":"9722d561f7e793ef","name":"loytecmail","topic":"","path":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","x":380,"y":780,"wires":[["94e7db63efe7cdce"]]},{"id":"94e7db63efe7cdce","type":"function","z":"9722d561f7e793ef","name":"function 4","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.toloytec = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":780,"wires":[["a847df4f281fa946"]]},{"id":"8fa3b928973d02e1","type":"debug","z":"9722d561f7e793ef","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":780,"wires":[]},{"id":"ea6a00e7276df526","type":"function","z":"9722d561f7e793ef","name":"function 5","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.topicloytec = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":720,"wires":[["a847df4f281fa946"]]},{"id":"76a703fac9b134ca","type":"function","z":"9722d561f7e793ef","name":"msg.fromloytec","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.fromloytec = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":840,"wires":[["a847df4f281fa946"]]},{"id":"a847df4f281fa946","type":"function","z":"9722d561f7e793ef","name":"function 6","func":"// Récupération des données existantes dans le contexte du flux\nlet topicloytec = flow.get(\"topicloytec\") || null;\nlet toloytec = flow.get(\"toloytec\") || null;\nlet fromloytec = flow.get(\"fromloytec\") || null;\n\n// Mise à jour des données en fonction du message reçu\nif (msg.topicloytec) {\n    topicloytec = msg.topicloytec;\n    flow.set(\"topicloytec\", topicloytec);\n}\n\nif (msg.toloytec) {\n    toloytec = msg.toloytec;\n    flow.set(\"toloytec\", toloytec);\n}\n\nif (msg.fromloytec) {\n    fromloytec = msg.fromloytec;\n    flow.set(\"fromloytec\", fromloytec);\n}\n\n// Vérifie si toutes les données sont disponibles\nif (topicloytec && toloytec && fromloytec) {\n    // Crée le message final consolidé\n    msg.payload = {\n        text: `Voici le contenu de l'email envoyé :\\n\\nObjet : ${topicloytec}\\nDe : ${fromloytec}\\nÀ : ${toloytec}`\n    };\n    msg.topic = topicloytec; // Sujet de l'email\n    msg.to = toloytec;       // Destinataire principal\n    msg.from = fromloytec;   // Adresse d'envoi\n\n    // Efface les données temporaires du contexte\n    flow.set(\"topicloytec\", null);\n    flow.set(\"toloytec\", null);\n    flow.set(\"fromloytec\", null);\n\n    // Retourne le message final\n    return msg;\n} else {\n    // Pas encore prêt, ne renvoie rien\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":780,"wires":[["8fa3b928973d02e1"]]},{"id":"d85bd44b3e92f055","type":"inject","z":"9722d561f7e793ef","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":780,"wires":[["e621a268e40d4ed1","cb2d5ddb0136167c","756cc02b716a33bb"]]},{"id":"3858e647a4cce73a","type":"readDP","z":"9722d561f7e793ef","name":"MAIL EXPEDITEUR","topic":"","path":"/User Registers/copie_clavier_MAIL_EXPEDITEUR","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_MAIL_EXPEDITEUR","x":520,"y":1080,"wires":[["22e3ec6a7b41c04f"]]},{"id":"2da3d7a46d9153a3","type":"readDP","z":"9722d561f7e793ef","name":"OBJET DU MAIL","topic":"","path":"/User Registers/copie_clavier_OBJET_DU_MAIL","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_OBJET_DU_MAIL","x":530,"y":960,"wires":[["672baf5c27966111"]]},{"id":"6dcfb062b2c9ac38","type":"readDP","z":"9722d561f7e793ef","name":"loytecmail","topic":"","path":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/copie_clavier_MAIL_ENVOI_DES_PANNES","x":560,"y":1020,"wires":[["35c456cf828c3dd3"]]},{"id":"35c456cf828c3dd3","type":"function","z":"9722d561f7e793ef","name":"function 7","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.toloytec = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1020,"wires":[["e1176daa3bdf65fd"]]},{"id":"8a3c4b4be61261ed","type":"debug","z":"9722d561f7e793ef","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1020,"wires":[]},{"id":"672baf5c27966111","type":"function","z":"9722d561f7e793ef","name":"function 8","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.topicloytec = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":960,"wires":[["e1176daa3bdf65fd"]]},{"id":"22e3ec6a7b41c04f","type":"function","z":"9722d561f7e793ef","name":"msg.fromloytec","func":"// Assigne l'adresse email contenue dans msg.payload à msg.to\nmsg.fromloytec = msg.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1080,"wires":[["e1176daa3bdf65fd"]]},{"id":"e1176daa3bdf65fd","type":"function","z":"9722d561f7e793ef","name":"function 9","func":"// Récupération des données existantes dans le contexte du flux\nlet topicloytec = flow.get(\"topicloytec\") || null;\nlet toloytec = flow.get(\"toloytec\") || null;\nlet fromloytec = flow.get(\"fromloytec\") || null;\n\n// Mise à jour des données en fonction du message reçu\nif (msg.topicloytec) {\n    topicloytec = msg.topicloytec;\n    flow.set(\"topicloytec\", topicloytec);\n}\n\nif (msg.toloytec) {\n    toloytec = msg.toloytec;\n    flow.set(\"toloytec\", toloytec);\n}\n\nif (msg.fromloytec) {\n    fromloytec = msg.fromloytec;\n    flow.set(\"fromloytec\", fromloytec);\n}\n\n// Vérifie si toutes les données sont disponibles\nif (topicloytec && toloytec && fromloytec) {\n    // Obtenir l'heure actuelle\n    const currentDate = new Date();\n\n    // Format lisible pour la date et l'heure (en format 24h, style suisse)\n    const formattedDate = currentDate.toLocaleDateString(); // Format de la date\n    const formattedTime = currentDate.toLocaleTimeString('fr-CH', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }); // Format de l'heure 24h, suisse\n\n    // Crée le message final consolidé sans sauts de ligne, tout sur une seule ligne\n    msg.payload = `Voici le contenu de l'email, Objet : ${topicloytec}, De : ${fromloytec}, À : ${toloytec}, Envoyé le : ${formattedDate} à ${formattedTime}`;\n\n    // Définir le sujet de l'email\n    msg.topic = topicloytec; // Sujet de l'email\n    msg.to = toloytec;       // Destinataire principal\n    msg.from = fromloytec;   // Adresse d'envoi\n\n    // Efface les données temporaires du contexte\n    flow.set(\"topicloytec\", null);\n    flow.set(\"toloytec\", null);\n    flow.set(\"fromloytec\", null);\n\n    // Retourne le message final\n    return msg;\n} else {\n    // Pas encore prêt, ne renvoie rien\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1000,"wires":[["8a3c4b4be61261ed","f2dbeb7eb270c96e"]]},{"id":"7c27da01864e3cea","type":"readDP","z":"9722d561f7e793ef","name":"loytecalarme","topic":"","path":"/User Registers/ALARME","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"eeb50ec3baa9320b","bpath":"/User Registers/ALARME","x":130,"y":1020,"wires":[["40a7eca347a35eb8"]]},{"id":"40a7eca347a35eb8","type":"switch","z":"9722d561f7e793ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":1020,"wires":[["2da3d7a46d9153a3","6dcfb062b2c9ac38","3858e647a4cce73a"],[]]},{"id":"eeb50ec3baa9320b","type":"server-path","name":"","host":"localhost:443","bpath":"/"}]
