projet multi
[{"id":"cdada1207d11251f","type":"tab","label":"projet multi","disabled":false,"info":"","env":[]},{"id":"196bc88e8d1c6468","type":"mqtt in","z":"cdada1207d11251f","name":"","topic":"test","qos":"0","datatype":"auto-detect","broker":"0f101a12f5f19c46","nl":false,"rap":true,"rh":0,"inputs":0,"x":870,"y":340,"wires":[["16189320d8645c77","9493f44e87f92bab"]]},{"id":"548665926d9bac51","type":"mqtt out","z":"cdada1207d11251f","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0f101a12f5f19c46","x":750,"y":340,"wires":[]},{"id":"e954088e4ce9e092","type":"debug","z":"cdada1207d11251f","name":"value1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"value1","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":300,"wires":[]},{"id":"c42a43113577f382","type":"readDP","z":"cdada1207d11251f","name":"","topic":"valeur1","path":"/BACnet Port/Server Objects/clavier_MAIL_ENVOI_DES_PANNES","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"50e56d9985358d59","bpath":"/BACnet Port/Server Objects/clavier_MAIL_ENVOI_DES_PANNES","x":380,"y":280,"wires":[["97ff7cf5d443f55a","a9d4a86da23a9902"]]},{"id":"f63db055c5752f1d","type":"readDP","z":"cdada1207d11251f","name":"","topic":"valeur2","path":"/BACnet Port/Server Objects/clavier_OBJET_DU_MAIL","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"50e56d9985358d59","bpath":"/BACnet Port/Server Objects/clavier_OBJET_DU_MAIL","x":380,"y":340,"wires":[["97ff7cf5d443f55a"]]},{"id":"cf4006f49e198006","type":"readDP","z":"cdada1207d11251f","name":"","topic":"valeur3","path":"/BACnet Port/Server Objects/clavier_MAIL_EXPEDITEUR","cov":true,"subfolder":true,"dpstatus":true,"cache":false,"covThreshold":0,"server":"50e56d9985358d59","bpath":"/BACnet Port/Server Objects/clavier_MAIL_EXPEDITEUR","x":380,"y":400,"wires":[["97ff7cf5d443f55a"]]},{"id":"e84d6e76e5542210","type":"inject","z":"cdada1207d11251f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":280,"wires":[["c42a43113577f382","f63db055c5752f1d","cf4006f49e198006"]]},{"id":"97ff7cf5d443f55a","type":"function","z":"cdada1207d11251f","name":"function 10","func":"// Initialise un objet pour stocker les données si non déjà existant\nif (!context.dataObject) {\n    context.dataObject = {};\n}\n\n// Associe la donnée à une clé unique (msg.topic doit être défini dans les nœuds ReadDP)\ncontext.dataObject[msg.topic] = msg.payload;\n\n// Vérifie si toutes les données ont été reçues (adaptez les clés aux noms des topics)\nif (Object.keys(context.dataObject).length === 3) { // 3 = Nombre de valeurs à recevoir\n    // Crée un tableau ordonné basé sur vos noms de topics\n    msg.payload = [\n        context.dataObject['valeur1'], // Première valeur\n        context.dataObject['valeur2'], // Deuxième valeur\n        context.dataObject['valeur3']  // Troisième valeur\n    ];\n\n    // Réinitialise l'objet pour les prochaines itérations\n    context.dataObject = {};\n\n    // Renvoie le message final\n    return msg;\n} else {\n    // Ne renvoie rien tant que toutes les données ne sont pas collectées\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":340,"wires":[["548665926d9bac51","421f122bfab3fa12"]]},{"id":"16189320d8645c77","type":"function","z":"cdada1207d11251f","name":"function 11","func":"// Vérifie si le payload est un tableau\nif (Array.isArray(msg.payload)) {\n    // Associe les éléments du tableau à des propriétés spécifiques\n    msg.value1 = msg.payload[0]; // Premier élément\n    msg.value2 = msg.payload[1]; // Deuxième élément\n    msg.value3 = msg.payload[2]; // Troisième élément\n\n    // Optionnel : Crée un objet regroupant les valeurs pour plus de clarté\n    msg.data = {\n        value1: msg.payload[0],\n        value2: msg.payload[1],\n        value3: msg.payload[2]\n    };\n\n    // Renvoie le message modifié\n    return msg;\n} else {\n    // Si le payload n'est pas un tableau, génère un avertissement et retourne null\n    node.warn(\"Le payload reçu n'est pas un tableau\");\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":340,"wires":[["e954088e4ce9e092","9e1d931d36474f08","a09f74039386cbe6","2958e29f7d8f807f"]]},{"id":"9e1d931d36474f08","type":"debug","z":"cdada1207d11251f","name":"value2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"value2","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":340,"wires":[]},{"id":"a09f74039386cbe6","type":"debug","z":"cdada1207d11251f","name":"value3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"value3","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":380,"wires":[]},{"id":"ee9ebe389f4f1606","type":"writeDP","z":"cdada1207d11251f","name":"","topic":"","path":"/User Registers/testwrite","server":"50e56d9985358d59","bpath":"/User Registers/testwrite","x":1160,"y":520,"wires":[["208797d7c5faddfd"]]},{"id":"208797d7c5faddfd","type":"debug","z":"cdada1207d11251f","name":"value3 payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":520,"wires":[]},{"id":"2958e29f7d8f807f","type":"function","z":"cdada1207d11251f","name":"function 12","func":"// Copier la valeur souhaitée dans msg.payload (remplacez `value3` par la valeur cible)\nmsg.payload = msg.value3;\n\n// Supprime msg.value3 si ce n’est plus nécessaire (facultatif)\ndelete msg.value3;\n\n// Retourne le message modifié\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":520,"wires":[["ee9ebe389f4f1606"]]},{"id":"9493f44e87f92bab","type":"debug","z":"cdada1207d11251f","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":280,"wires":[]},{"id":"a9d4a86da23a9902","type":"debug","z":"cdada1207d11251f","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":240,"wires":[]},{"id":"421f122bfab3fa12","type":"debug","z":"cdada1207d11251f","name":"topic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"0f101a12f5f19c46","type":"mqtt-broker","name":"broker hivemq","broker":"9eecbe56b6fd4ce3afcb4c11725c2de9.s1.eu.hivemq.cloud:8883","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"50e56d9985358d59","type":"server-path","name":"","host":"localhost:443","bpath":"/"}]
